name: Testing module

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: dvc pipeline 
      run: |
        dvc pull
        dvc repro

    - name: Preprocessing with Pytest
      run: pytest src/test/preprocessing_test.py

    - name: Training_test with Pytest
      run: pytest src/test/training_test.py

    - name: Compare_test with Pytest
      run: pytest src/test/compare_test.py

  
